.header {
    font-family: monospace;
    background: papayawhip;
    margin: 0;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo {
    font-size: 48px;
    font-weight: 900;
    color: tomato;
    background: white;
    padding: 4px 32px;
}

ul {
    /* this removes the dots on the list items*/
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 8px;
}

a {
    font-size: 22px;
    background: white;
    padding: 8px;
    /* this removes the line under the links */
    text-decoration: none;
}

body {
    overflow: hidden;
}

@media (max-width: 600px) {
    .header {
        padding: 10px;
        flex: auto;
        display: flex;
        flex-direction: column;
        gap: 19px;
    }

    .logo {
        align-self: center;
        flex: auto;
        width: fit-content;
    }




}